*/20 *   *   *   *    curl -s "http://127.0.0.1:9117/jsondb/save"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/torrentby/parse"
5    */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/torrentby/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/torrentby/ParseAllTask"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/rutracker/parse"
10   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/rutracker/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/rutracker/ParseAllTask"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/rutor/parse"
15   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/rutor/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/rutor/ParseAllTask"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/megapeer/parse"
*    */8 *   *   *    curl -s "http://127.0.0.1:9117/cron/megapeer/parse?maxpage=10"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/nnmclub/parse"
20   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/nnmclub/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/nnmclub/ParseAllTask"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/kinozal/parse"
25   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/kinozal/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/kinozal/ParseAllTask"

*/20 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/bitruapi/parse"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/bitru/parse"
30   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/bitru/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/bitru/ParseAllTask"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/selezen/parse"
35   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/selezen/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/selezen/ParseAllTask"

*/40 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/toloka/parse"
40   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/toloka/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/toloka/ParseAllTask"

*/40 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/mazepa/parse"
45   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/mazepa/UpdateTasksParse"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/mazepa/ParseAllTask"

50   */4 *   *   *    curl -s "http://127.0.0.1:9117/cron/aniliberty/parse?parseFrom=1&parseTo=60"
*/5  *   *   *   *    curl -s "http://127.0.0.1:9117/cron/aniliberty/parse"

50   */6 *   *   *    curl -s "http://127.0.0.1:9117/cron/anidub/parse?parseFrom=1&parseTo=100"
*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/anidub/parse"

55   */6 *   *   *    curl -s "http://127.0.0.1:9117/cron/anistar/parse?limit_page=20"
*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/anistar/parse?limit_page=2"

45   */6 *   *   *    curl -s "http://127.0.0.1:9117/cron/leproduction/parse"
*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/leproduction/parse?limit_page=1"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/animelayer/parse"
5    */8 *   *   *    curl -s "http://127.0.0.1:9117/cron/animelayer/parse?maxpage=90"

*/40 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/anifilm/parse"
10   */8 *   *   *    curl -s "http://127.0.0.1:9117/cron/anifilm/parse?fullparse=true"

*/15 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/baibako/parse"
15   */8 *   *   *    curl -s "http://127.0.0.1:9117/cron/baibako/parse?maxpage=418"

*/40 *   *   *   *    curl -s "http://127.0.0.1:9117/cron/lostfilm/parsepages"
20   */8 *   *   *    curl -s "http://127.0.0.1:9117/cron/lostfilm/parse"
0    */8 *   *   *    curl -s "http://127.0.0.1:9117/cron/lostfilm/parseseasonpacks"

