[Unit]
Description=jacred
Wants=network.target
After=network.target
[Service]
User=jacred
Group=jacred
Environment="HOME=/opt/jacred"
WorkingDirectory=/opt/jacred
ExecStart=/opt/jacred/jacred-linux-amd64
RestartSec=5
LimitNOFILE=65535
Restart=always
[Install]
WantedBy=multi-user.target
